page-editar-mis-puntosgeolocalizables {

                //*************Estética referente a CROMOS*************//

//Se define el tamaño de la carta del cromo y los bordes que va a tener.
.cromo {
  max-width: 130px;
  max-height: 130px;
  width: 130px;
  height: 130px;
  padding-top:6%;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

//Se define el color, el tamaño y el peso de la fuente que se utilizará para el Nombre
//del Cromo.

#NombrePG{
  color:rgb(255, 253, 253);
font-size: 12px;
margin-left:2px;
text-align: center;
text-transform: uppercase;
}

#PGInfo{
  font-size: 10px;
  line-height: 1.5;
  color:  rgb(38, 39, 39);
  margin-right: 2%;
  margin-left: 8%;
  margin-bottom: -3%;
  b {
    color: map-get($colors, primary);
  }
}

#contenedorEquipo{
  font-size: 22px;
  background-color:rgba(64, 155, 240, 0.973);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 5px 9px 3px rgba(24, 120, 209, 0.973);;
  text-align: center;
  margin-right:10%;
  margin-left:10%;
  margin-bottom: 10%;
  margin-top: 10%;
}

}


